* {

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--bs-gray-200);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--bs-gray-500);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-600);
  }
}

#app {
  height: 100vh;
}

i.bi {
  font-size: 16px;
}

.vue-grid-layout {
  width: calc(100% + 8px);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.gridItem {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition:  0.2s ease-in-out;
    opacity: 0.15;
    background: linear-gradient(90deg,
        var(--bs-gray-500),
        var(--bs-gray-700));
    z-index: 5;
  }

  &.editing::before {
    height: 100%;
  }
}