.panel-settings {
  width: 0;
  height: 96vh;
  margin-top: 2vh;

  background-color: var(--bs-white);
  transition: 0.2s;
  top: 0;
  left: -5%;

  z-index: 1;
  overflow: hidden;
  opacity: 0;

  &.active {
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    left: 0;
    opacity: 1;
    min-width: 300px;
  }
}